@font-face {
  font-family: 'minecraft';  /* フォントの名前を指定 */
  src: url('minecraft.ttf') format('truetype'); /* TTFファイルへのパス */
}

body {
  font-family: minecraft, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

#status {
  font-size: 20px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}

/* プレイヤーリスト */
#playersList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  margin: 10px;
  text-align: center;
}

.player img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.player p {
  margin-top: 5px;
  color: #333;
}

/* サーバーのオンライン・オフライン表示用 */
.online {
  color: green;
}

.offline {
  color: red;
}
